ATTENTION

Deriv Smart Bot is just an application that bridges trading in deriv.com by using the 
strategy you have previously set

Deriv Smart Bot does not guarantee any profit in trading at deriv.com

The strategy used in the default installation is an example of using a strategy, 
not a strategy that guarantees you to make a profit, so please develop or 
create a new strategy in accordance with your trading style

The developer of Deriv Smart Bot is not responsible for any losses incurred in using this BOT,
so please use this BOT in accordance with your trading style and your capital capability

Binary option trading may not be suitable for everyone, so make sure you understand the risks involved.

PLEASE TRY IN VIRTUAL TOKEN FIRST
